*{
    margin: 0;
    padding: 0;
}
.bg-img{
    background-position: center center !important;
    background-size: cover !important;
    position: fixed;
    /* max-height: 100% !important;
    max-width: 100% !important; */
    opacity: 10%;
    z-index: -1;
    top: 0;
    left: 0;
}
.logo{
    height: 5rem;
}
.card-img{
    background-image: linear-gradient(  rgba(0, 0, 0, 0.34),#e4177daa ), url(../asserts/pexels-ankur-kumar-3872614-L.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login-form{
    height: 100% !important;
}
.login-input:focus{
    border: 2.5px #e4177c solid !important;
    box-shadow: none !important;
}
/* --------------- */
.input[type=checkbox]{
    width: 1.3rem !important;
    height: 1.3rem !important;
    border: 1px #e4177c solid !important;
}
input[type=checkbox]:focus{
    border: 1px #e4177c solid !important;
    box-shadow: none !important;
}
input[type=checkbox]:checked {
    background: #e4177c;
    color: white;
    /* border: 2px #e4177c solid; */

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 0;
}
  /* --------- */
  .register{
    position: absolute;
    bottom: 0;
  }

  /* @media only screen and (min-width: 600px) {
    .card-img{
        padding-bottom: 5rem;
    }
  } */